
        <div class="link">
            {% if droitAdmin.lecture is defined and droitAdmin.lecture %}
                <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
                <a href="{{ path('add_championat') }}">{{ 'Ajouter un championnat'|trans }}</a>
            {% endif %}
            {#{% if droitAdmin.lecture is defined and droitAdmin.lecture %}
                <span class="glyphicon glyphicon-th-list violet" aria-hidden="true"></span>
                <a href="{{ path('list_championat') }}">{{ 'Liste des championats'|trans }}</a>
            {% endif %}#}
        </div>
