ws_rest_sondage_insert_vote_utilisateur:
    path:     /insert/vote
    defaults: { _controller: WsRestBundle:Sondage:insertVoteUsers }
    methods: POST
ws_rest_sondage_update_vote_utilisateur:
    path:     /update/vote
    defaults: { _controller: WsRestBundle:Sondage:updateVoteUsers }
    methods: POST
ws_rest_sondage_get_data:
    path:     /get-matchs
    defaults: { _controller: WsRestBundle:Sondage:postToGetAllMatchsSondage }
    methods: POST