<div class="link">
    {% if currentAdmin.lecture == true or is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('index_admin_utilisateur') }}">{{ 'Liste des utilisateurs'|trans }}</a>
    {% endif %}
</div>