{% extends 'BackAdminBundle::layout_match.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}
    <div class="col-lg-2">
        <div class="col-lg-2">
            <div class="classement">
                <div class="form-search">
                    dgzezefgzegze
                </div>
                <div class="space"></div>
                <table class="table-list">
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
