div.search-match{
    background-color: #FFF;
    padding: 7px;
    font-size: 11px;
}
div.search-match input[type=text]{
    width: 100px;
    height: 20px;
    display: block;

}
div.search-match select{
    width: 100%;
    height: 20px;
    display: block;
}
div.search-match select{
    height: 20px;
    /*width: 200px;*/
}
img.fanion {
    width:30px;
    height: 30px;
}
div.search-match input[type=submit]{
    height: 25px;
    padding: 5px;
}
table.search-match{
    width: 100%;
}
table.search-match tr{

}
table.search-match tr td{

}