div.search-match{
    background-color: #F2F2F2;
    padding: 15px;
}
div.search-match input[type=text]{
    width: 100px;
    
}
div.search-match select{
    height: 25px;
    width: 200px;
}
img.fanion {
    width:30px;
    height: 30px;
}