* {
    margin: 0px;
    padding: 0px;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eceeef+0,f6f6f6+52,eceeef+100 */

}

header {

}

header div.box-top {
    /*min-height: 100px;*/
    border-bottom: 1px solid #c4c4c3;
    /*margin-left: 25px;
    margin-right: 25px;*/
    font-size: 12px;
    /* background: rgb(236, 238, 239); *//* Old browsers *//*
     background: -moz-radial-gradient(center, ellipse cover, rgba(236, 238, 239, 1) 0%, rgba(246, 246, 246, 1) 52%, rgba(236, 238, 239, 1) 100%); *//* FF3.6-15 *//*
     background: -webkit-radial-gradient(center, ellipse cover, rgba(236, 238, 239, 1) 0%, rgba(246, 246, 246, 1) 52%, rgba(236, 238, 239, 1) 100%); *//* Chrome10-25,Safari5.1-6 *//*
     background: radial-gradient(ellipse at center, rgba(236, 238, 239, 1) 0%, rgba(246, 246, 246, 1) 52%, rgba(236, 238, 239, 1) 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *//*
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eceeef', endColorstr='#eceeef', GradientType=1); *//* IE6-9 fallback on horizontal gradient *//*
     padding: 5px;*/
    /*background-color: #e9e9e9;*/
}

header div.box-top div.box-header {
    /*border-bottom: 1px solid #c4c4c3;*/
    /*height: 20px;*/
    padding: 5px;
}

div.contenu {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

header ul.menu {

    margin-top: 15px;
    margin-left: 15px;
}

header ul.menu li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

header ul.menu li img {
    display: block;
}

header ul.menu li a {
    color: #68676d;
    text-align: center;
}

div.layout {

}

div.box-response {
    /*border: 1px solid #c4c4c3;*/
    min-height: 200px;
    /*background-color: #f2f2f2;*/
    padding: 25px;
}

div.box-header-response {
    /*background-color: #e9e9e9;*/
    /*border-top: 1px solid #c4c4c3;
    border-left: 1px solid #c4c4c3;
    border-right: 1px solid #c4c4c3;*/
    /*border: 1px solid #c4c4c3;*/
    padding-top: 8px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #c4c4c3;;

}

div.search {
/*    background-color: #F5F5F5;*/
    padding: 5px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #d5d5d5;

}

table, th, td {
    border: 1px solid #c4c4c3;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
div.link{
    float: right;
}

div.header-table {
    padding: 10px;
    min-height: 20px;
   /* border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;*/
    margin-top: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
   /* background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%); *//* FF3.6-15 *//*
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f6f6f6 47%,#ededed 100%); *//* Chrome10-25,Safari5.1-6 *//*
    background: radial-gradient(ellipse at center, #ffffff 0%,#f6f6f6 47%,#ededed 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *//*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); *//* IE6-9 fallback on horizontal gradient */

}

div.table-list {

}

div.table-list tr {

}

table.table-list th {
    /*font-weight: normal;*/
    text-align: center;
}

table.table-list tr td {
    text-align: center;
}

div.space {
    clear: both;
}

div.menu-top {
    background-color: #555;
    color: #fff;
}

div.menu-top a {
    color: #FFF;
}

div.menu-top div.link {
    float: right;
    padding: 5px;
}

div.parameter-email {
    padding: 10px;
}

div.parameter-email input {
    width: 90%;
    height: 30px;
    margin: 10px;
    padding: 5px;
}

div.adresse-societe {
    margin: 10px;
    padding: 5px;

}

div.adresse-societe textarea {
    width: 100%;
    height: 200px;
}

div.template-tmp input, div.template-change input {
    width: 90%;
    height: 30px;
    margin: 10px;
    padding: 5px;
}

div.template-tmp textarea, div.template-change textarea {
    width: 90%;
    height: 130px;
    margin: 10px;
    padding: 5px;
}

div.tri{
    float: right;
}
div.tri div.up{
    display: block;
}
div.tri div.down{
    display: block;
}
tr.selected{
    background-color: #8c9ac7;
    color: #FFF;
}
tr.selected a{
    background-color: #8c9ac7;
    color: #ffffff;
}
table.table-matchs{
    width: 100%;
}
table.table-matchs td {
    padding: 5px;
}
table.table-matchs tr {
    padding: 5px;
}
#send-prono{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:#0000EE;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}
div.grey{
    padding: 15px;
}
div.carre{
    width: 15px;
    height: 15px;
}
.green{
    /*background-color: #75c75f;*/
    color: #75c75f;
}
#search-utilisateur div{
    display: inline-block; 
}

div.header-push {
    /*border: 1px solid #c4c4c3;*/
    /*background-color: #f2f2f2;*/
    padding: 25px;
}
div.sous-menu-page{
    margin-top: 7px;
    margin-bottom: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;

}
div.ariane{
    float:left;
}
span.span-title{
    color: #0e0e0e;
    text-decoration: underline;
}
.lots {
    width:50px;
    height:50px;
}
div.pagination{

}
div.pagination span {
    padding: 10px ;
    background-color: #525475;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
div.pagination span a{
    color: #ffffff;
}
div.pagination span.current{
    background-color: #ffffff;
    color: #555;

}
div.pagination span.last{
    background-color: darkorange;
}
div.export{
    background-color: #474f6d;
    padding: 5px 15px;
    color: #ffffff;
}
input#withSelection{
    width: 15px;
    height: 15px;
    margin-top: 10px;
}
table tr.selected table {
    color: #555555;
}
.current-menu{
    border-bottom: 2px solid #0066FF;
}
input#concours_dateDebut{
    width: 160px;
}
input#concours_dateFinale{
    width: 160px;
}
table.status-lotofoot {
    font-size: 11px;
    border: none;
}
table.status-lotofoot tr{

}
table.status-lotofoot td {
    font-size: 11px;
    /*border-bottom: 1px solid #eeeeee;*/
    border: none;
}
form#search{
    padding: 3px;

}
form#search input[type=text]{
    height: 20px;
    width: 100px;
}
form#search select{
    height: 20px;
    width: 100px;
}
form#search select{
    height: 20px;
    width: 150px;
}
div.classement div.form-search{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a3a4ae;
    width: 100%;
}