<div class="link">

    <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
    <a href="{{ path('add_loto_foot') }}">{{ 'Ajout Loto Foot'|trans }}</a>&nbsp; | &nbsp;
    <span class="glyphicon glyphicon-th-list violet" aria-hidden="true"></span>
    <a href="{{ path('list_loto_foot') }}">{{ 'Liste Loto Foot'|trans }}</a>
</div>